/////////////////////////////// GENERAL /////////////////////////////////

body{
    background-color: $background-color;
    color: $secondary;
    position: relative;
}

h1, h2, h3{
    font-family: 'Shrikhand', cursive;
    font-size: 16px;
}

h1, h2{
    font-size: 45px;
    letter-spacing: 1px;
}

h3{
    font-size: 32px;
}


p, li {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

li{
    font-weight: 600;
    font-size: 20px;
}


//////////////////////////////// HERO //////////////////////////////


.hero {
    height: auto;
    

        .row-1{
                height: 80vh;
            
            p{
                width: 80%;
            }
            .square_left{
                input[type="button"] {
                    transform: translateX(-40px);
                }
            }
            .square_right{
                .row{
                    height: 50%;
                    
                    h2{
                        font-size: 16px;
                    }
                }
            }
        }
        .row-2{
            background-color: $secondary;
            color: $beige;
            text-align: center;
            align-items: center;
            h2{
                font-size: 42px;
                padding: 30px 0;
            }
                
        }
        .row-3{
            height: 70%;
            img{
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                padding: 0;
            }
        }
    
}

///////////////////////////////SOMMAIRE///////////////////////////////////

.SOMMAIRE{
    margin: 60px 0;
}



.line{
    height: 3px;
    background-color: $secondary;
    width: 100%;

}


/////////////////////////////////INPUT EMAIL//////////////////////////////////





input[type="text"] {
    background-color:transparent;
    border: 2px solid $beige;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 70%;
    color: $primary;
    font-family: 'Quicksand', sans-serif;
    
    
}

input[type="button"] {
    background-color: $primary;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
    width: 40%;
    font-family: 'Shrikhand', cursive;
    font-size: 16px;
    color: $beige;
    :after{
        content:'';
        position: absolute;
        width: 40%;
        height: auto;
        border: 2px solid $secondary;
    }
    
}


/////////////////////////////////////POSTS//////////////////////////////////////

.background-sec{

    background-color: $secondary !important;
}