<section class="container-fluid FOOTER px-5">
    <div class="row py-5 px-1">
        <div class="col-6">
            <h2 >Je suis à la recherche d’un stage et d’une  alternance!</h2>
            <div class="col-10 input-email my-4 d-flex">
                <input class="px-3 email" type="text" placeholder="auriane1103@gmail.com" value="auriane1103@gmail.com">
                <input type="button" class="btn btn-primary" value="COPY MY EMAIL">
            </div>
            <div class="socials">
                <img src="../assets/img/linkedin-logo.svg" class="me-5">
                <img src="../assets/img/Behance-logo.svg">
            </div>
        </div>
        <div class="col-5 ">
            <ul class="d-flex mt-4">
                <li class="me-5">Plan du site</li>
                <li class="me-5">My Work</li>
                <li class="me-5">My CV</li>
                <li class="me-5">My Skills</li>
            </ul>
        </div>
        <div class="col-1 ">
            <img src="../assets/img/plant_logo.svg" class="plant_logo">
        </div>
    </div>
    <p>Copyright 2020 - @auri_siraza</p>
</section>