<section class="container-fluid POST mb-5">
    
    <div class="row d-flex">
        <div class="col-6 ps-5">      
            <p class="col-10 PROJECT-CAPTION ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nulla ratione veritatis sit neque magni quaerat suscipit, atque laudantium beatae natus sed aliquid quibusdam?</p>
        </div>
        <div class="col-6 pe-5">
            <h2>N°2</h2>
            <div class="row">
                <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima nam tenetur, totam optio consequatur aliquid modi, nemo iste consectetur vitae? Distinctio dolores minus eligendi voluptatem doloribus consequatur minima? Maxime.</p>
                <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti minima nam tenetur, totam optio consequatur aliquid modi, nemo iste consectetur vitae? Distinctio dolores minus eligendi voluptatem doloribus consequatur minima? Maxime.</p>
            </div>
            <ul>
                <li>Développement</li>
                <li>Techno</li>
                <li>Gestion de Projet</li>
            </ul>
        </div>
    </div>
</section>