<p class="mb-2 ms-5">{{ include.type-project }}</p>
<div class="line"></div>
<section class="container-fluid POST mb-5">
    
    <div class="row d-flex">
        <div class="col-6 ps-5 order-1">      
            <h2 class="PROJECT-CAPTION mb-4 ">{{ include.title-project }}</h2>
            <div class="row d-flex">
                <img src="{{ include.photo-project-1 }}" class="col-7">
                <img  class="col-3 d-flex flex-column justify-content-between" src= "{{ include.photo-project-2 }}" >

                
            </div>
            
        </div>
        <div class="col-6 pe-5 order-1">
            <h2>{{ include.number-project }}</h2>
            
                <p class="col-11 ">{{ include.description-project }}</p>
                <ul class="my-4">
                    <li class="d-flex">Rôle : {{ include.role-project }}</li>
                    <li class="d-flex">Techno : {{ include.techno-project }}</li>
                    <li class="d-flex">Gestion de Projet : {{ include.gestion-projet }}</li>
                </ul>
                <button class="btn btn-primary" type="button">Voir tout le projet</button>
            
                
            
        </div>
    </div>
</section>
