.FOOTER{
    background-color: $yellow;
    p{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 10px;
    }
    .plant_logo{
        display: block;
        margin-left: auto;
    }
}