---
layout: default
title: "Home"
---

<section class="container-fluid hero ">
    <div  class="row row-1 d-flex ">
        <div class="d-flex flex-column col-xxl-6 square_left py-5 justify-content-center" style="background-color: #FFCE80; color: #030D2B;">
            <h1 class="mb-2 ms-5">Bonjour je m'appelle Auriane-Mirana !</h1>
            <p class="mb-4 ms-5">Lorem ipsum dolor sit amet consectetur. Velit id in scelerisque quis lacus urna faucibus. Mattis pulvinar odio cursus aliquam lorem posuere., je m’appelle Auriane-Mirana. elit id in scelerisque quis lacus urna faucibus.</p>
            <div class="col-10 input-email mb-2 d-flex ms-5">
                <input class="px-3 email" type="text" placeholder="auriane1103@gmail.com" value="auriane1103@gmail.com">
                <input type="button" class="btn btn-primary" value="COPY MY EMAIL">
                
            </div>
        </div>
        <div class="col-xxl-6 square_right">
            <div class="row">
                <div class="d-flex col-xxl-6 flex-column align-items-center justify-content-center" style="background-color: #C93216; color: #FFE6BF;">
                    <img src="../assets/img/my-work-icon.svg">
                    <h2 class="mt-2">MY WORK</h2>
                </div>
                <div class="d-flex col-xxl-6 flex-column align-items-center justify-content-center" style="background-color: #FFE6BF; color: #C93216; ">
                    <img src="../assets/img/skills-icon.svg">
                    <h2 class="mt-2">SKILLS</h2>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-xxl-6 flex-column align-items-center justify-content-center" style="background-color: #FFE6BF; color: #C93216; ">
                    <img src="../assets/img/cv-icon.svg">
                    <h2 class="mt-2">CV</h2>
                </div>
                <div class="d-flex col-xxl-6 flex-column align-items-center justify-content-center" style="background-color: #030D2B; color: #FFE6BF; ">
                    <img src="../assets/img/contacts-icon.svg">
                    <h2 class="mt-2">CONTACTS</h2>
                </div>
            </div>
            


        </div>

    </div>
    <div class="row row-2 d-flex">
        <h2>Student Developer & Web Designer</h2>

    </div>
    <div class="row row-3"> 
        <img src="../assets/img/placeholder-img.png">

    </div>

    

</section>

<section class="container-fluid SOMMAIRE">
    <div class="row d-flex ms-5">

        
        {% include sommaire.html number="N°1" title="Projets Développement" %}
        
        
        {% include sommaire.html number="N°2" title="Projets Web Design" %}
        
    </div>
    <div class="row ms-5">

        
        {% include sommaire.html number="N°3" title="Projets Dessins et Créations" %}
        
        
        {% include sommaire.html number="N°4" title="Projets Marketing & Communication Digitale" %}
        


    </div>

</section>



{% include post.html %}

{% include footer.html %}